/* Documento */
/*

selector {
    propiedad: valor;
}

*/

/* Selector Universal */

* {
    margin: 0;
    padding: 0;
}

/* Selector de ID */

#titulo-principal {
    color: blue;
    font-size: 50px;
}

/* Selector de Clase */

.mensaje {
    width: 400px;
    height: 100px;
    background-color: #467467; /* hexadecimal */ /* rgb(0, 0, 0) */
    color: white;
    padding: 20px 40px 20px;
}

/* Selector de Elemento */

p {
    margin: 20px;
    color: grey;
}

/* Selector Descendiente */
/* .mensaje span{
    color: burlywood;
    display: block;
} */

/* Selector Adyacente */

/* h2 + .texto {
    color: red;
    width: 100%;
    height: 30px;
} */

/* Selector hijo */

.mensaje > span{
    color: burlywood;
    display: block;
}

.mensaje > .subtexto > span{
    color: burlywood;
    display: block;
}

/* Selector hermano */
h2 ~ .texto {
    color: red;
    width: 100%;
    height: 30px;
}

/* Selector Atributo */
input[type] { /* Que tenga el atributo type */
    display: block;
    color: red;
}

input[type=text] { /* Que tenga el atributo type con el valor text */
    display: block;
    color: red;
}


input[class*="input"] { /* Que tenga el valor en cualquier parte del atributo class */
    display: block;
    color: green;
}

input[class*="input"]:enabled { /* Que tenga el valor en cualquier parte del atributo class */
    background-color: yellow;
}

input[class*="input"]:focus { /* Que tenga el valor en cualquier parte del atributo class */
    background-color: gray;
}

input::placeholder {
    color: red;
}


a[href^="http"] { /* Que valor del atributo comience con ese valor */
    display: block;
    color: green;
}

a[href$=".html"] { /* Que valor del atributo termine con ese valor */
    display: block;
    color: pink;
}

ul#submenu li[class~="class2"] { /* Que valor del atributo termine con ese valor */
    display: block;
    color: pink;
}


/* Selector Combinatorio */

h1, h2, h3 {
    color: brown;
}

.class1, .class2, .class3, .class4 {
    color: blue;
}


.box {
    width: 100px;
    height: 100px;
    background-color: #00f;
    overflow: hidden;
}

.box .box1 {
    width: 50%;
    height: 50px;
    background-color: #534;
    float: left;
    overflow: hidden;
}

.box .box2 {
    width: 50%;
    height: 50px;
    background-color: #284;
    float: right;
}

.box .box3 {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #fff;
}

/* Pseudo Class Selectores // Selectores Pseudo Clases */

a:link {
    color: red;
}

a:visited {
    color: yellow;
}

a:hover {
    color: green;
}
h1:hover {
    color: red;
    cursor: pointer;
}

.box:hover {
    background-color: red;
}


input[class*="input"]:focus { /* Que tenga el valor en cualquier parte del atributo class */
    background-color: gray;
}

.fa-html5 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: rgba(100, 232, 345, 0.3);
    padding: 10px;
}

.fa-html5:hover {
    color: black;
}